<div class="admin-nav-gap">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="active">
          <i class="fa fa-plug"></i>
          Plugins
        </li>
      </ol>
    </div>
  </div>
  
  <div class="container-fluid plugins-page">
    <div *ngIf="loading" class="plugins-loading">Loading plugins…</div>
  
    <div *ngIf="error" class="plugins-error">{{ error }}</div>
  
    <div *ngIf="!loading && !error">
      <mage-plugins-dashboard [plugins]="plugins"></mage-plugins-dashboard>
    </div>
  
    <router-outlet></router-outlet>
  </div>
  