<div class="admin-nav-gap">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><i class="fa fa-users admin-dashboard"></i><a href="javascript:void(0);" (click)="goToTeams()">Teams</a>
            </li>
            <li class="active">{{team?.name}}</li>
        </ol>
    </div>
</div>

<div class="container-fluid bottom-gap-l">
    <div class="row">
        <div class="col-md-offset-1 col-md-10" *ngIf="team">

            <div class="row">
                <div class="col-md-8">
                    <h2>Team: {{team.name}}</h2>
                </div>
                <div class="col-md-4">
                    <h2 *ngIf="hasUpdatePermission">
                        <button class="btn btn-default pull-right" (click)="toggleEditDetails()">
                            <i class="fa" [ngClass]="editingDetails ? 'fa-times' : 'fa-edit'"></i>
                            {{editingDetails ? 'Cancel' : 'Edit'}}
                        </button>
                        <button class="btn btn-default pull-right right-gap" (click)="editAccess(team)"><i
                                class="fa fa-shield"></i> Access</button>
                    </h2>
                </div>
            </div>

            <hr>

            <div class="row top-gap-l">
                <div class="col-sm-6 col-xs-12">

                    <div class="row top-gap-l">
                        <div class="col-md-3">
                            <span class="muted">Name:</span>
                        </div>
                        <div class="col-md-9">
                            <span *ngIf="!editingDetails">{{team.name}}</span>
                            <input *ngIf="editingDetails" type="text" class="form-control" [(ngModel)]="editForm.name"
                                placeholder="Team name">
                        </div>
                    </div>

                    <div class="row top-gap-s bottom-gap">
                        <div class="col-md-3">
                            <span class="muted">Description:</span>
                        </div>
                        <div class="col-md-9">
                            <span *ngIf="!editingDetails">{{team.description}}</span>
                            <textarea *ngIf="editingDetails" class="form-control" rows="3"
                                [(ngModel)]="editForm.description" placeholder="Team description"></textarea>
                        </div>
                    </div>

                    <div class="row top-gap-s" *ngIf="editingDetails">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-primary right-gap" (click)="saveTeamDetails()">
                                <i class="fa fa-save"></i> Save
                            </button>
                            <button class="btn btn-default" (click)="cancelEditDetails()">
                                <i class="fa fa-times"></i> Cancel
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6" *ngIf="hasDeletePermission">
                    <div class="card">
                        <div class="card-content">
                            <strong class="text-danger">Delete Team</strong>
                            <p class="text-danger">Deleting a team will remove all team information. This cannot be
                                undone, and
                                all team data will be unrecoverable. Users within the team will not be deleted.</p>
                            <button class="btn btn-danger top-gap" (click)="deleteTeam()"> <i class="fa fa-trash-o"></i>
                                Delete</button>
                        </div>
                    </div>
                </div>

            </div>

            <hr>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="row">
                        <div class="col-md-12">
                            <mage-card-navbar [title]="'Team Members'" [isSearchable]="true"
                                [searchPlaceholder]="'Search teams...'" (searchTermChanged)="searchMembers()"
                                (searchCleared)="searchMembers()" [actionButtons]="actionButtons"></mage-card-navbar>

                        </div>
                    </div>
                    <div class="admin-table admin-teams-table">
                        <div class="admin-teams-table-content">
                            <div class="admin-teams-table-items">
                                <div class="admin-teams-table-item" *ngFor="let user of membersPage.items">
                                    <div class="row pointer" (click)="gotoUser(user)">
                                        <div class="admin-teams-user">
                                            <!-- <user-avatar class="pull-left right-gap" [user]="user" [avatarWidth]="40"
                                                [avatarHeight]="40"></user-avatar> -->
                                            <div class="admin-teams-user-detail">
                                                <div class="strong right-gap">
                                                    <span class="right-gap">{{user.displayName}}</span>
                                                    <span class="muted">({{user.username}})</span>
                                                </div>
                                                <div class="muted">{{user.email}}</div>
                                            </div>
                                            <a class="btn btn-xs btn-danger" *ngIf="edit"
                                                (click)="removeMember($event, user)">Remove Member</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="pager pull-right admin-teams-pager">
                                        <li [ngClass]="{'disabled': !hasPreviousMember()}">
                                            <a href="javascript:void(0);" (click)="previousMemberPage()">&larr;
                                                Previous</a>
                                        </li>
                                        <li [ngClass]="{'disabled': !hasNextMember()}">
                                            <a href="javascript:void(0);" (click)="nextMemberPage()">Next&rarr;</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="admin-teams-table-status" *ngIf="loadingMembers">
                            <div class="admin-teams-table-status-text">Loading</div>
                            <div>
                                <i class="fa fa-spinner fa-spin admin-teams-table-status-spinner"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar navbar-default admin-dashboard-navbar">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <a class="navbar-brand">Events for {{team.name}} <sup><span
                                                    class="badge">{{filteredEvents.length}}</span></sup></a>
                                    </div>

                                    <form class="navbar-form navbar-left">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search"
                                                [(ngModel)]="teamEventSearch" [ngModelOptions]="{standalone: true}"
                                                (ngModelChange)="onTeamEventSearchChange()">
                                        </div>
                                    </form>
                                    <div class="navbar-form navbar-right right-gap-s">
                                        <button class="btn btn-default navbar-right"
                                            (click)="editEvent = !editEvent">Edit</button>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>

                    <div class="admin-table admin-teams-table">
                        <div class="admin-teams-table-content">
                            <div class="admin-teams-table-items">
                                <div class="admin-teams-table-item"
                                    *ngFor="let event of getPagedEvents(filteredEvents, teamEventsPage)">
                                    <div class="row pointer" (click)="gotoEvent(event)">
                                        <div class="admin-teams-user">
                                            <i class="fa fa-calendar admin-teams-table-item-icon"></i>
                                            <div class="admin-teams-user-detail">
                                                <div class="strong right-gap">
                                                    <span class="right-gap">{{event.name}}</span>
                                                </div>
                                                <div class="muted">{{event.description}}</div>
                                            </div>
                                            <a class="btn btn-xs btn-danger" *ngIf="editEvent"
                                                (click)="removeEventFromTeam($event, event)">Remove Event</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="pager pull-right admin-teams-pager">
                                        <li [ngClass]="{'disabled': !canGoPreviousTeamEvents()}">
                                            <a href="javascript:void(0);"
                                                (click)="canGoPreviousTeamEvents() && (teamEventsPage = teamEventsPage - 1)">&larr;
                                                Previous</a>
                                        </li>
                                        <li [ngClass]="{'disabled': !canGoNextTeamEvents()}">
                                            <a href="javascript:void(0);"
                                                (click)="canGoNextTeamEvents() && (teamEventsPage = teamEventsPage + 1)">Next&rarr;</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>