<div class="row">
    <div class="col-md-12">
        <form class="form" method="post" autocomplete="off">
            <div>
                <label for="ldap-username" class="input-label">{{strategy.title}} Username</label>
                <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch"></span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input type="text" #usernameInput id="ldap-username" name="username" autocomplete="new-password"
                        autocapitalize="off" [(ngModel)]="username" [class.mdc-text-field--invalid]="!usernameValid"
                        class="mdc-text-field__input">
                </div>
                <div *ngIf="!usernameValid" class="error-message">Please enter a valid username</div>
            </div>

            <div class="top-gap">
                <label for="ldap-password" class="input-label">{{strategy.title}} Password</label>
                <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch"></span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
                    <input id="ldap-password" #passwordInput type="password" name="password" autocomplete="new-password"
                        autocapitalize="off" [(ngModel)]="password" [class.mdc-text-field--invalid]="!passwordValid"
                        class="mdc-text-field__input">
                </div>
                <div *ngIf="!passwordValid" class="error-message">Please enter a valid password</div>
            </div>

            <div *ngIf="statusMessage" class="general-error-message">
                <i class="fa fa-exclamation-circle"></i>
                {{statusMessage}}
            </div>

            <div class="auth-button-container">
                <button class="mdc-button mdc-button--raised third-party-button"
                    [ngStyle]="{'background-color': strategy.buttonColor, 'border-color': strategy.buttonColor}"
                    (click)="signin()">

                    <span class="third-party-button-content">
                        <span *ngIf="!strategy.icon" class="third-party-logo">
                            <i class="fa fa-lg fa-shield" [ngStyle]="{'color': strategy.buttonColor}"></i>
                        </span>
                        <span *ngIf="strategy.icon" class="third-party-logo">
                            <img [src]="'data:image/png;base64,' + strategy.icon">
                        </span>

                        <span class="third-party-button-text" [ngStyle]="{color: strategy.textColor}">Sign In With
                            {{strategy.title}}</span>
                    </span>

                </button>
            </div>
        </form>
    </div>
</div>

<contact *ngIf="contactOpen" [open]="contactOpen" [strategy]="strategy" [info]="info"
    (onContactClose)="onContactClose()"></contact>