<!doctype html>
<html>

<head>
  <!-- <base href="/admin/"> -->
  <title>MAGE Admin</title>
  <meta id="view" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>

<body class="mdc-typography">
  <bootstrap>
    <div class="application">
      <banner ng-if="myself" class="banner" type="header"></banner>
      <admin-navigation></admin-navigation>
      <ui-view class="route-content"></ui-view>
      <banner ng-if="myself" class="banner" type="footer"></banner>
    </div>
  </bootstrap>
</body>

</html>