<div class="signin-container">
    <div class="wand-container bottom-gap" *ngIf="!hideSignup">
        <img class="mage-wand" src="/assets/images/bluewand.png" />
    </div>

    <local-signin *ngIf="localAuthenticationStrategy" [strategy]="localAuthenticationStrategy" [hideSignup]="hideSignup"
        (onSignup)="signupClicked()" (onSignin)="signin($event)">
    </local-signin>

    <div *ngIf="localAuthenticationStrategy && thirdPartyStrategies.length">
        <div class="or-container">
            <div class="or-hr"></div>
            <div id="or">or</div>
            <div class="or-hr"></div>
        </div>
    </div>

    <div *ngFor="let strategy of thirdPartyStrategies; let i = index">
        <div [class.bottom-gap]="i < thirdPartyStrategies.length - 1">
            <ng-container [ngSwitch]="strategy.type">
                <idp-signin *ngSwitchCase="'oauth'" [strategy]="strategy" (onSignin)="signin($event)"></idp-signin>
                <idp-signin *ngSwitchCase="'saml'" [strategy]="strategy" (onSignin)="signin($event)"></idp-signin>
                <idp-signin *ngSwitchCase="'openidconnect'" [strategy]="strategy"
                    (onSignin)="signin($event)"></idp-signin>
                <ldap-signin *ngSwitchCase="'ldap'" [strategy]="strategy" (onSignin)="signin($event)"></ldap-signin>
            </ng-container>
        </div>
    </div>
</div>