<form class="form" method="post" (ngSubmit)="signin()">
    <div>
        <label for="username" class="input-label">Username</label>
        <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%">
            <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch"></span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input type="text" #usernameInput id="username" name="username" autocomplete="new-password"
                autocapitalize="off" [(ngModel)]="username" [class.mdc-text-field--invalid]="!usernameValid"
                class="mdc-text-field__input">
        </div>
        <div *ngIf="!usernameValid" class="error-message">Please enter a valid username</div>
    </div>

    <div class="top-gap">
        <label for="password" class="input-label">Password</label>
        <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%">
            <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch"></span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input type="password" #passwordInput id="password" name="password" autocomplete="new-password"
                autocapitalize="off" [(ngModel)]="password" [class.mdc-text-field--invalid]="!passwordValid"
                class="mdc-text-field__input">
        </div>
        <div *ngIf="!passwordValid" class="error-message">Please enter a valid password</div>
    </div>

    <div *ngIf="statusMessage" class="general-error-message">
        <i class="fa fa-exclamation-circle"></i>
        {{statusMessage}}
    </div>

    <div class="auth-button-container">
        <div *ngIf="hideSignup"></div>
        <button *ngIf="!hideSignup" class="mdc-button mdc-button--raised secondary-button" (click)="signupClicked()"
            type="button">Sign Up</button>
        <button class="mdc-button mdc-button--raised primary-button" type="submit">Sign In</button>
    </div>
</form>

<contact *ngIf="contactOpen" [open]="contactOpen" [strategy]="strategy" [info]="info"
    (onContactClose)="onContactClose()"></contact>