<div class="text-center">

    <button class="mdc-button mdc-button--raised third-party-button"
        [ngStyle]="{'background-color': strategy.buttonColor, 'border-color': strategy.buttonColor}" (click)="signin()">

        <span class="third-party-button-content">
            <span *ngIf="!strategy.icon" class="third-party-logo">
                <i class="fa fa-lg fa-shield" [ngStyle]="{'color': strategy.buttonColor}"></i>
            </span>
            <span *ngIf="strategy.icon" class="third-party-logo">
                <img [src]="'data:image/png;base64,' + strategy.icon">
            </span>

            <span class="third-party-button-text" [ngStyle]="{color: strategy.textColor}">Sign In With
                {{strategy.title}}</span>
        </span>

    </button>
</div>

<contact *ngIf="contactOpen" [open]="contactOpen" [strategy]="strategy" [info]="info"
    (onContactClose)="onContactClose()"></contact>