<div class="row">
    <div class="col-md-12">
        <form name="accountForm" class="bottom-gap-l" method="post" autocomplete="off" novalidate>

            <div class="top-gap mdc-text-field mdc-text-field--outlined" style="width: 100%">
                <input type="text" #usernameInput id="username" name="username" placeholder="i.e. jappleseed"
                    autocomplete="new-password" autocapitalize="off" [(ngModel)]="account.username"
                    (blur)="getCaptcha()" required [class.mdc-text-field--invalid]="!usernameValid"
                    class="mdc-text-field__input">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="username" class="mdc-floating-label">Username</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <div class="top-gap mdc-text-field mdc-text-field--outlined" style="width: 100%">
                <input type="text" id="displayName" name="displayName" placeholder="Johnny Appleseed"
                    autocomplete="none" autocapitalize="off" [(ngModel)]="account.displayName" required
                    class="mdc-text-field__input">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="displayName" class="mdc-floating-label">Display Name</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <div class="top-gap mdc-text-field mdc-text-field--outlined" style="width: 100%">
                <input type="email" id="signup-email" name="signup-email" placeholder="johnny@appleseed.com"
                    autocomplete="none" autocapitalize="off" [(ngModel)]="account.email" class="mdc-text-field__input">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="signup-email" class="mdc-floating-label">Email</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <div class="top-gap mdc-text-field mdc-text-field--outlined" style="width: 100%">
                <input type="tel" id="signup-phone" name="signup-phone" autocomplete="none" autocapitalize="off"
                    [(ngModel)]="account.phone" class="mdc-text-field__input">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="signup-phone" class="mdc-floating-label">Phone</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <div class="top-gap mdc-text-field mdc-text-field--outlined" style="width: 100%">
                <input type="password" #passwordInput id="password" name="password" autocomplete="new-password"
                    autocapitalize="off" [(ngModel)]="account.password" required (ngModelChange)="onPasswordChange()"
                    [class.mdc-text-field--invalid]="!passwordValid" class="mdc-text-field__input">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="password" class="mdc-floating-label">Password</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>

            <div class="top-gap mdc-text-field mdc-text-field--outlined" style="width: 100%">
                <input type="password" id="passwordconfirm" name="passwordconfirm" autocomplete="new-password"
                    autocapitalize="off" [(ngModel)]="account.passwordconfirm" required
                    [class.mdc-text-field--invalid]="!passwordConfirmValid" class="mdc-text-field__input">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="passwordconfirm" class="mdc-floating-label">Confirm Password</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
            <div class="mdc-text-field-helper-line" *ngIf="!passwordConfirmValid">
                <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg">Passwords do not
                    match</div>
            </div>

            <div>
                <div class="muted">Password Strength: <span
                        [class]="'text-' + passwordStrengthType">{{passwordStrength}}</span></div>
                <div role="progressbar" class="top-gap-s mdc-linear-progress"
                    [class]="'progress-bar-' + passwordStrengthType">
                    <div class="mdc-linear-progress__buffering-dots"></div>
                    <div class="mdc-linear-progress__buffer"></div>
                    <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar"
                        [style.transform]="'scaleX(' + passwordStrengthProgress + ')'">
                        <span class="mdc-linear-progress__bar-inner"></span>
                    </div>
                    <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                        <span class="mdc-linear-progress__bar-inner"></span>
                    </div>
                </div>
            </div>

            <div class="auth-captcha-container top-gap-l">
                <div *ngIf="loadingCaptcha" class="auth-captcha-progress">
                    <div class="auth-captcha-progress__container">
                        <div class="auth-captcha-progress--text">Generating Captcha...</div>
                        <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate"
                            aria-label="Example Progress Bar" aria-valuemin="0" aria-valuemax="1" aria-valuenow="0">
                            <div class="mdc-linear-progress__buffer">
                                <div class="mdc-linear-progress__buffer-bar"></div>
                                <div class="mdc-linear-progress__buffer-dots"></div>
                            </div>
                            <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                                <span class="mdc-linear-progress__bar-inner"></span>
                            </div>
                            <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                <span class="mdc-linear-progress__bar-inner"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="auth-captcha">
                    <img *ngIf="captcha.uri" alt="" width="100%" height="100%" [src]="captcha.uri">
                </div>
                <div class="auth-captcha-refresh">
                    <button *ngIf="captcha.uri" class="mdc-icon-button material-icons" (click)="getCaptcha()"
                        type="button">refresh</button>
                </div>
            </div>

            <div class="top-gap mdc-text-field mdc-text-field--outlined" style="width: 100%">
                <input type="text" #captchaInput id="captchaText" name="captchaText"
                    placeholder="Enter text from image above" autocapitalize="off" [(ngModel)]="account.captchaText"
                    required [class.mdc-text-field--invalid]="!captchaValid" class="mdc-text-field__input">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="captchaText" class="mdc-floating-label">Captcha Text</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
            <div class="mdc-text-field-helper-line" *ngIf="!captchaValid">
                <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg">Captcha text is
                    required</div>
            </div>

            <div class="auth-button-container">
                <button type="button" class="top-gap mdc-button mdc-button--raised secondary-button"
                    (click)="cancelSignup()">Cancel</button>
                <button type="button" class="top-gap mdc-button mdc-button--raised primary-button"
                    (click)="verify()">Signup</button>
            </div>
        </form>
    </div>
</div>

<div class="mdc-snackbar" [class.mdc-snackbar--open]="showSnackbar">
    <div class="mdc-snackbar__surface">
        <div class="mdc-snackbar__label" role="status">
            <h4>{{statusTitle}}</h4>
            {{statusMessage}}
        </div>
        <button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss"
            (click)="dismissSnackbar()">close</button>
    </div>
</div>