<form *ngIf="showAuthorize" class="form" method="post" autocomplete="off" (ngSubmit)="authorize()">
    <h2>Enter your device ID to continue to MAGE</h2>

    <p class="top-gap">To access MAGE you will need to enter a device ID. If you do not have a device ID please ask your
        MAGE administrator to provide you with one.</p>

    <div class="top-gap" [class.has-error]="status > 399">
        <label for="uid" class="input-label">Device ID</label>
        <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%">
            <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch"></span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input type="text" #deviceIdInput id="uid" name="uid" autocapitalize="off" [(ngModel)]="uid"
                [class.mdc-text-field--invalid]="!deviceIdValid" class="mdc-text-field__input">
        </div>
        <div *ngIf="!deviceIdValid" class="error-message">Please enter a valid device ID</div>
    </div>

    <div *ngIf="statusMessage" class="general-error-message">
        <i class="fa fa-exclamation-circle"></i>
        {{statusMessage}}
    </div>

    <div class="auth-button-container device-id-button-container">
        <button class="top-gap mdc-button mdc-button--raised primary-button" type="submit">Continue to MAGE</button>
    </div>

</form>

<contact *ngIf="contactOpen" [open]="contactOpen" [strategy]="strategy" [info]="info"
    (onContactClose)="onContactClose()"></contact>