:host {
    display: block;
    z-index: 1;
    width: 100%;
    --banner-height: 32px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
    height: var(--banner-height);
}