<!-- Admin Navigation Component - Angular 14 -->
<mat-toolbar color="primary" *ngIf="myself">
    <a class="navbar-brand" href="/#/home">
        <span class="navbar-title">MAGE</span>
    </a>

    <span class="navbar-spacer"></span>

    <div class="navbar-actions">
        <a class="navbar-button" href="/#/profile" matTooltip="My Profile">
            <user-avatar [user]="myself" [avatarWidth]="25" [avatarHeight]="25"></user-avatar>
            <span class="navbar-button-label">{{myself.displayName}}</span>
        </a>
        <a mat-icon-button href="/#/about" matTooltip="About MAGE">
            <mat-icon>info</mat-icon>
        </a>
        <button mat-icon-button (click)="logout()" matTooltip="Logout">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
</mat-toolbar>